[project]
	description = This program to batch modify the translation file of mattermost's i18n file
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/syuo7 (syuo7)
[access "refs/for/refs/*"]
	read = group user/syuo7 (syuo7)
	push = group user/syuo7 (syuo7)
	label-Code-Review = -2..+2 group user/syuo7 (syuo7)
	label-Verified = -1..+1 group user/syuo7 (syuo7)
	rebase = group user/syuo7 (syuo7)
	removeReviewer = group user/syuo7 (syuo7)
	submit = group user/syuo7 (syuo7)
[access "refs/heads/*"]
	read = group user/syuo7 (syuo7)
	create = group user/syuo7 (syuo7)
	push = +force group user/syuo7 (syuo7)
	pushMerge = group user/syuo7 (syuo7)
[access "refs/tags/*"]
	push = group user/syuo7 (syuo7)
	push = +force group user/syuo7 (syuo7)
